<body>
    <div class="container">
        <header>
            <h1>Todo List</h1>
            <!-- Error message -->
            <div class="alert-message"></div>
            <div class="input-section">
                <input type="text"
                       placeholder="Add a todo . . ."
                       class="input input-bordered input-secondary w-full max-w-xs task-input" />
                <input type="date"
                       class="input input-bordered input-secondary w-full max-w-xs schedule-date" />
                <button class="btn btn-secondary add-task-button">
                    <i class="bx bx-plus bx-sm"></i>
                </button>
            </div>
        </header>

        <div class="todos-filter">
            <div class="dropdown">
                <label tabindex="0" class="btn m-1">Filter</label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a class="filter-option" data-status="all">All</a></li>
                    <li><a class="filter-option" data-status="pending">Pending</a></li>
                    <li><a class="filter-option" data-status="completed">Completed</a></li>
                </ul>
            </div>
            <button class="btn btn-secondary delete-all-btn">
                Delete All
            </button>
        </div>

        <table class="table w-full">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="todos-list-body">
                <!-- Tasks will be dynamically inserted here -->
            </tbody>
        </table>
    </div>

    <script src="app.js"></script>
</body>
